@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/fonts/Roboto/Roboto-Thin.ttf);
  font-weight: thin;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

